<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div class="container">
        <h1 class="mb-4">New Article</h1>

        <% if (locals.errMessage) { %>
            <div class="text-danger"><%= errMessage %></div>
        <% } %>

        <form action="/articles/new" method="POST">
            <%- include('./partials/_form_fields') %>
        </form>
    </div>
</body>

</html>